/* Last edited: 2025-11-08 18:37:31 */
body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #fff2ef;
  height: 100vh;
  margin-top: 32px;
  color: #1a2a4f;
}

.container {
  width: 50%;
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 32px;
  background-color: #ffdbb6;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
  margin: 16px 0;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 14px;
  opacity: 70%;
}

p {
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

button {
  margin-top: 16px;
  background-color: #1a2a4f;
  color: #fff;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 8px 0;
  font-size: 16px;
}

button:hover {
  background-color: #0f192f;
}
